@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>


<div class="container">
    <div class="row">
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="AnidoptUsers" asp-action="Index">AnidoptUsers</a>
        </div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Organisations" asp-action="Index">Organisations</a>
        </div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Animals" asp-action="Index">Animals</a>
        </div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Pictures" asp-action="Index">Pictures</a>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Species" asp-action="Index">Species</a>
        </div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Breeds" asp-action="Index">Breeds</a>
        </div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Sexes" asp-action="Index">Sexes</a>
        </div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Estimations" asp-action="Index">Estimations</a>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="DescriptorTypes" asp-action="Index">DescriptorTypes</a>
        </div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Descriptors" asp-action="Index">Descriptors</a>
        </div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="DescriptorLinks" asp-action="Index">DescriptorLinks</a>
        </div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="UserOrganisationLinks" asp-action="Index">UserOrganisationLinks</a>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="AnimalColours" asp-action="Index">AnimalColours</a>
        </div>
    </div>
</div>